@import url("assets/stylebase/stylebase.css");

@font-face {
  font-family: "Jubilee";
  src: url("assets/font/JubileeDiamond.woff2") format("woff2");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "Mori";
  src: url("assets/font/MoriBook.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mori";
  src: url("assets/font/MoriBookItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Mori";
  src: url("assets/font/MoriExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mori";
  src: url("assets/font/MoriExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Writer Text";
  src: url("assets/font/WriterRegularText.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Writer Text";
  src: url("assets/font/WriterRegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Writer Text";
  src: url("assets/font/WriterBoldText.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Writer Text";
  src: url("assets/font/WriterBoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Geist Mono";
  src: url("assets/font/GeistMono.woff2") format("woff2");
  font-weight: 32 240;
}

:root {
  --font-masthead: "Jubilee", serif;
  --font-sans-serif: "Mori", sans-serif;
  --font-serif: "Writer Text", serif;
  --font-mono: "Geist Mono", monospace;

  --hue-fg: var(--hue-neutral-900);
  --hue-bg: var(--hue-neutral-50);
  --hue-bg-contrast: white;
  --hue-bg-subtle: var(--hue-neutral-100);
  --hue-accent: oklch(56.53% 0.143 243.53);
  --hue-border: var(--hue-neutral-400);
  --hue-border-shadow: white;
  --hue-mark-bg: var(--hue-yellow-200);
  --hue-focus-frame: var(--hue-neutral-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --hue-fg: var(--hue-neutral-200);
    --hue-bg: var(--hue-neutral-950);
    --hue-bg-contrast: black;
    --hue-bg-subtle: var(--hue-neutral-900);
    --hue-border: var(--hue-neutral-900);
    --hue-mark-bg: var(--hue-yellow-700);
    --hue-mark-bg: color-mix(in oklch, var(--hue-yellow-700), black 30%);
    --hue-focus-frame: white;
  }
}

body {
  color: var(--hue-fg);
  background-color: var(--hue-bg);
  font-family: var(--font-serif);
}

body > header,
body > main {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

header .weblog-title {
  display: grid;
  grid-template-columns: var(--grid-default);
  padding-block: var(--space-m) var(--space-s);

  a {
    grid-column: 2 / span 10;
  }
}

hr {
  display: block;
  border-top: 1px;
  background-color: var(--hue-border);
  height: 1px;
  width: 100%;
  margin: var(--space-m) 0;
}

main.weblog-post {
  display: grid;
  grid-template-columns: var(--grid-default);

  article {
    grid-column: 2 / span 10;
  }
}

a:empty:not([aria-label]):not([aria-labelledby]) {
  display: none;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.125em;
  text-decoration-color: color-mix(in srgb, var(--hue-fg) 50%, black);

  &:hover,
  &:focus-visible {
    text-decoration-thickness: 2px;
    text-decoration-color: var(--hue-accent);
  }

  &:focus-visible {
    outline-width: 4px;
    outline-style: ridge;
    outline-offset: var(--space-3xs);
    outline-color: var(--hue-focus-frame);
    opacity: 1;
  }
}

article {
  margin-block: var(--space-s-10xl) var(--space-8xl);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  blockquote,
  img {
    margin-block-end: var(--space-m);
  }

  .weblog-subtitle,
  .weblog-tagline,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 30ch;
    text-wrap: balance;
    font-weight: normal;
    line-height: 1.2;

    * + & {
      margin-block-start: var(--space-m);
    }
  }

  h2 {
    font-family: var(--font-masthead);
    font-size: var(--step-5);
  }

  .weblog-subtitle,
  h3 {
    font-size: var(--step-3);
  }

  .weblog-tagline,
  h4 {
    font-size: var(--step-2);
  }

  h5 {
    font-size: var(--step-1);
    font-weight: bold;
  }

  h6 {
    font-size: var(--step-0);
    font-weight: bold;
    text-transform: uppercase;
  }

  .weblog-subtitle,
  h3 {
    font-family: var(--font-sans-serif);
    font-weight: bold;
  }

  p,
  hr,
  pre,
  ol,
  ul {
    max-width: 64ch;
    text-wrap: pretty;
  }

  & > p:first-of-type:first-line {
    font-weight: bold;
    color: var(--hue-accent);
    font-variant-caps: all-small-caps;
  }

  & > p:first-of-type::first-letter {
    line-height: 1;
    margin-right: 0.125em;
    font-weight: normal;
    initial-letter: 3 2;
    -webkit-initial-letter: 3 2;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: oblique;
  }

  sup,
  sub {
    font-size: 0.8em;
    display: inline-block;
    opacity: 0.6;
    margin-left: 0.125em;

    &:focus-within {
      opacity: 1;
    }
  }

  sup {
    vertical-align: super;
  }

  code {
    font-family: var(--font-mono);
    font-weight: 100;
  }

  pre {
    border-radius: var(--radii-chip);
    overflow-x: auto;
    width: 100%;
    margin-block: var(--space-m);
    margin-inline: calc(var(--space-xs) * -1);
    padding: var(--space-s);
    background-color: var(--hue-bg-contrast);
    border: 1px solid var(--hue-border);

    code {
      display: block;
      white-space: pre-wrap;
      background-color: unset;
    }
  }

  blockquote {
    font-size: var(--step-2);
    font-style: italic;
    max-width: 48ch;
  }

  mark {
    text-decoration: underline;
    text-decoration-color: var(--hue-mark-bg);
    text-decoration-thickness: 0.6em;
    text-underline-offset: -0.6em;
    text-decoration-skip-ink: none;
  }

  ol,
  ul {
    padding-inline-start: var(--space-s);

    & ol,
    & ul {
      padding-inline-start: var(--space-m);
      list-style-type: circle;
    }
  }

  li {
    position: relative;
    margin-left: 0;
    padding-left: 0;
  }

  table {
    font-family: var(--font-sans-serif);
    display: table;
    width: 100%;
    max-width: 64ch;
  }

  thead {
    display: table-header-group;

    tr {
      font-weight: bold;
    }

    th {
      padding: var(--space-4xs) var(--space-2xs);
      background-color: var(--hue-fg);
      color: var(--hue-bg);
    }
  }

  tr {
    display: table-row;

    &:nth-of-type(2n) {
      background-color: var(--hue-bg-subtle);
    }
  }

  td {
    display: table-cell;
    font-family: var(--font-sans-grotesque);
    padding: var(--space-4xs) var(--space-2xs);
  }
}

.weblog-footer {
  color: var(--hue-bg);
  background-color: var(--hue-fg);
  font-family: var(--font-sans-serif);
}

.weblog-footer-wrapper {
  display: grid;
  grid-template-columns: var(--grid-default);
  width: 100%;
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

#weblog-navigation,
.weblog-footer-header,
.weblog-recent-posts,
.weblog-footer-attribution,
.copyright {
  grid-column: 2 / span 10;
}

#weblog-navigation {
  ul {
    list-style-type: none;
    display: flex;
    padding-block: var(--space-m);
  }

  li {
    margin-inline-end: var(--space-s);
  }
}

.weblog-footer-header {
  font-weight: bold;
  font-size: var(--step-1);
  margin-block: var(--space-xs);
}

.weblog-recent-posts {
  font-size: var(--step-0);

  li {
    margin-block-end: var(--space-xs);
    opacity: 0.7;
  }
}

.weblog-footer-attribution {
  font-family: var(--font-serif);
  font-style: italic;
  color: var(--hue-accent);
  font-size: var(--step-6);
  margin-block: var(--space-m) var(--space-s);
}

.weblog-footer-wrapper .copyright {
  font-size: var(--step--2);
  margin-block-end: var(--space-m);

  code {
    font-family: var(--font-mono);
    font-weight: 100;
  }
}
