/* @link https://utopia.fyi/space/calculator?c=314,16,1.125,1215,20,1.25,10,2,&s=0.75|0.5|0.25|0.125,1.5|2|3|4|5|6|8|10|12|14|16|18,s-l|s-10xl&g=s,m,2xl,12 */

:root {
  /* Space 4xs: 2px → 3px */
  --space-4xs: clamp(0.125rem, 0.1032rem + 0.111vi, 0.1875rem);
  /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, 0.2282rem + 0.111vi, 0.3125rem);
  /* Space 2xs: 8px → 10px */
  --space-2xs: clamp(0.5rem, 0.4564rem + 0.222vi, 0.625rem);
  /* Space xs: 12px → 15px */
  --space-xs: clamp(0.75rem, 0.6847rem + 0.333vi, 0.9375rem);
  /* Space s: 16px → 20px */
  --space-s: clamp(1rem, 0.9129rem + 0.444vi, 1.25rem);
  /* Space m: 24px → 30px */
  --space-m: clamp(1.5rem, 1.3693rem + 0.6659vi, 1.875rem);
  /* Space l: 160px → 200px */
  --space-l: clamp(10rem, 9.1287rem + 4.4395vi, 12.5rem);
  /* Space xl: 192px → 240px */
  --space-xl: clamp(12rem, 10.9545rem + 5.3274vi, 15rem);
  /* Space 2xl: 224px → 280px */
  --space-2xl: clamp(14rem, 12.7802rem + 6.2153vi, 17.5rem);
  /* Space 3xl: 256px → 320px */
  --space-3xl: clamp(16rem, 14.606rem + 7.1032vi, 20rem);
  /* Space 4xl: 288px → 360px */
  --space-4xl: clamp(18rem, 16.4317rem + 7.9911vi, 22.5rem);
  /* Space 5xl: 32px → 40px */
  --space-5xl: clamp(2rem, 1.8257rem + 0.8879vi, 2.5rem);
  /* Space 6xl: 48px → 60px */
  --space-6xl: clamp(3rem, 2.7386rem + 1.3319vi, 3.75rem);
  /* Space 7xl: 64px → 80px */
  --space-7xl: clamp(4rem, 3.6515rem + 1.7758vi, 5rem);
  /* Space 8xl: 80px → 100px */
  --space-8xl: clamp(5rem, 4.5644rem + 2.2198vi, 6.25rem);
  /* Space 9xl: 96px → 120px */
  --space-9xl: clamp(6rem, 5.4772rem + 2.6637vi, 7.5rem);
  /* Space 10xl: 128px → 160px */
  --space-10xl: clamp(8rem, 7.303rem + 3.5516vi, 10rem);

  /* One-up pairs */
  /* Space 4xs-3xs: 2px → 5px */
  --space-4xs-3xs: clamp(0.125rem, 0.0597rem + 0.333vi, 0.3125rem);
  /* Space 3xs-2xs: 4px → 10px */
  --space-3xs-2xs: clamp(0.25rem, 0.1193rem + 0.6659vi, 0.625rem);
  /* Space 2xs-xs: 8px → 15px */
  --space-2xs-xs: clamp(0.5rem, 0.3475rem + 0.7769vi, 0.9375rem);
  /* Space xs-s: 12px → 20px */
  --space-xs-s: clamp(0.75rem, 0.5757rem + 0.8879vi, 1.25rem);
  /* Space s-m: 16px → 30px */
  --space-s-m: clamp(1rem, 0.6951rem + 1.5538vi, 1.875rem);
  /* Space m-l: 24px → 200px */
  --space-m-l: clamp(1.5rem, -2.3335rem + 19.5339vi, 12.5rem);
  /* Space l-xl: 160px → 240px */
  --space-l-xl: clamp(10rem, 8.2575rem + 8.879vi, 15rem);
  /* Space xl-2xl: 192px → 280px */
  --space-xl-2xl: clamp(12rem, 10.0832rem + 9.7669vi, 17.5rem);
  /* Space 2xl-3xl: 224px → 320px */
  --space-2xl-3xl: clamp(14rem, 11.909rem + 10.6548vi, 20rem);
  /* Space 3xl-4xl: 256px → 360px */
  --space-3xl-4xl: clamp(16rem, 13.7347rem + 11.5427vi, 22.5rem);
  /* Space 4xl-5xl: 288px → 40px */
  --space-4xl-5xl: clamp(2.5rem, 23.4018rem + -27.525vi, 18rem);
  /* Space 5xl-6xl: 32px → 60px */
  --space-5xl-6xl: clamp(2rem, 1.3901rem + 3.1077vi, 3.75rem);
  /* Space 6xl-7xl: 48px → 80px */
  --space-6xl-7xl: clamp(3rem, 2.303rem + 3.5516vi, 5rem);
  /* Space 7xl-8xl: 64px → 100px */
  --space-7xl-8xl: clamp(4rem, 3.2159rem + 3.9956vi, 6.25rem);
  /* Space 8xl-9xl: 80px → 120px */
  --space-8xl-9xl: clamp(5rem, 4.1287rem + 4.4395vi, 7.5rem);
  /* Space 9xl-10xl: 96px → 160px */
  --space-9xl-10xl: clamp(6rem, 4.606rem + 7.1032vi, 10rem);

  /* Custom pairs */
  /* Space s-l: 16px → 200px */
  --space-s-l: clamp(1rem, -3.0078rem + 20.4218vi, 12.5rem);
  /* Space s-10xl: 16px → 160px */
  --space-s-10xl: clamp(1rem, -2.1365rem + 15.9822vi, 10rem);
}
